<a href={% url 'goals:index' user.username "empty" %}><h1>mLG</h1></a> <!-- Home page of Users -->

<!-- A text box for renaming lists -->
{% if list_text %}
<form action = {% url 'goals:save' user.username list_text.id 0 %} -->
  Enter New Name<br>
  <input type="text" name="new_name" value = {{list_text.title}}><br>
  <input type="submit" value="Save">
</form>

<!-- A text box for renaming goals -->
{% else %}
<form action = {% url 'goals:save' user.username goals_text.category.id goals_text.id %} >
  Enter New Name<br>
  <input type="text" name="new_name" value = {{goals_text.text}}><br>
  <input type="submit" value="Save">
{% endif %}